section:first-of-type{
    background: linear-gradient(90deg, #3c9 70%, #00f 70%, #00f 85%, red 85%);
    background: linear-gradient(90deg, green 33%, #fff 33%, #fff 67%, green 67%);

    background-image: linear-gradient(to top right, yellow 45%, crimson 45%);
}

section:nth-of-type(2){
    background: radial-gradient(circle, violet 10%, crimson 20% );
}

section:nth-of-type(3){
    color: transparent;
    background: conic-gradient(
        purple 15%,
        khaki 15%,
        khaki 40%,
        fuchsia 40%,
        fuchsia 60%,
        tomato 60%,
        tomato 75%,
        skyblue 75%,
        skyblue 85%,
        brown 85%
    );
    -webkit-background-clip: text;
}

section:last-of-type{
    background: repeating-linear-gradient(30deg, red 8%, violet 10%);
}